body {
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 62);

}

.header-logo-links {
    display: flex;
    padding-top: 20px;
    padding-bottom: 70px;

}

.header-content {
    display: flex;
    gap: 20px;
    color: rgb(170, 166, 166);
    padding-bottom: 70px;

}

.header-content,
.header-logo-links {
    padding-right: 150px;
    padding-left: 150px;
    justify-content: space-between;

}



.site-description {
    display: flex;
    flex-direction: column;

}

.text {
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
}

#main-title {
    color: white;
    font-size: 32px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 25px;

}

.content-title {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

.bundles {
    display: flex;
}


.quote {
    display: flex;
    background-color: rgba(163, 182, 196, 0.4);
    padding: 100px 300px;
}

.action {
    display: flex;
    justify-content: center;
}

.action-box {

    display: flex;
    background-color: rgb(18, 132, 238);
    width: 650px;
    color: white;
    border-radius: 10px;
    margin: 100px 5px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer {
    height: 40px;
    background-color: rgb(46, 46, 62);
    color: rgb(170, 166, 166);
    line-height: 40px;
    text-align: center;
    font-size: small;

}

a {
    text-decoration: none;
    color: rgb(170, 166, 166);

}

.header ul {
    display: flex;
    list-style: none;
    gap: 10px;
    flex-wrap: wrap;
}

button {
    height: 30px;
    width: 100px;
    color: white;
    background-color: rgb(18, 132, 238);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    flex-wrap: wrap;

}

button:hover {
    background-color: #f76e25;
}

blockquote {
    width: 750px;
    text-align: left;
    color: rgb(135, 129, 129);
    font-size: 20px;
}




.action-box p {
    display: flex;
    padding: 25px 50px;
    justify-content: space-between;
}

.action-box button {
    display: flex;
    border: 1px solid white;
    margin: 10px;
    justify-content: center;
    align-items: center;
    
}

figcaption.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.header-logo-links img {
    height: 100px;
    width: 100px;
}

ul{
    list-style: none;
}

.bundles img{
    width: 200px;
    height: 200px;
}